In [2]:
import os
import pandas as pd
from bs4 import BeautifulSoup

In [15]:
path = "./data/celeb/"
count = 0
celebs_list = []

for name in os.listdir(path):
    count += 1
    if count % 100 == 0:
        print(f"Progress: {count}")

    with open(os.path.join(path, name), 'r', encoding='utf-8') as f:
        soup = BeautifulSoup(f)
    new_entry = {"id": name.split(".")[0]}

    # cf. 00a
    content = soup.find("div", id="content")
    new_entry["name"] = content.find("h1").string

    fans = content.find("div", id="fans").find("h2").contents[0]
    new_entry["fans"] = int(fans[fans.index("（")+1:fans.index("）")])

    info = content.find("div", class_="info")
    item = info.find("li")

    while item is not None:
        new_entry[item.span.string] = item.span.next_sibling.strip(":\n ")
        item = item.find_next_sibling()

    celebs_list.append(new_entry)

Progress: 100
Progress: 200
Progress: 300
Progress: 400
Progress: 500
Progress: 600
Progress: 700
Progress: 800
Progress: 900
Progress: 1000
Progress: 1100
Progress: 1200
Progress: 1300
Progress: 1400
Progress: 1500
Progress: 1600
Progress: 1700
Progress: 1800
Progress: 1900
Progress: 2000
Progress: 2100
Progress: 2200
Progress: 2300
Progress: 2400
Progress: 2500
Progress: 2600
Progress: 2700
Progress: 2800
Progress: 2900
Progress: 3000
Progress: 3100
Progress: 3200
Progress: 3300
Progress: 3400
Progress: 3500
Progress: 3600
Progress: 3700
Progress: 3800
Progress: 3900
Progress: 4000
Progress: 4100
Progress: 4200
Progress: 4300
Progress: 4400
Progress: 4500
Progress: 4600
Progress: 4700
Progress: 4800
Progress: 4900
Progress: 5000
Progress: 5100
Progress: 5200
Progress: 5300
Progress: 5400
Progress: 5500
Progress: 5600
Progress: 5700
Progress: 5800
Progress: 5900
Progress: 6000
Progress: 6100
Progress: 6200
Progress: 6300
Progress: 6400
Progress: 6500
Progress: 6600
Progress: 6700
Progress: 6800
Progress: 6900
Progress: 7000
Progress: 7100
Progress: 7200
Progress: 7300
Progress: 7400
Progress: 7500
Progress: 7600
Progress: 7700
Progress: 7800
Progress: 7900
Progress: 8000
Progress: 8100
Progress: 8200
Progress: 8300
Progress: 8400
Progress: 8500
Progress: 8600
Progress: 8700
Progress: 8800
Progress: 8900
Progress: 9000
Progress: 9100
Progress: 9200
Progress: 9300
Progress: 9400
Progress: 9500
Progress: 9600
Progress: 9700
Progress: 9800
Progress: 9900
Progress: 10000
Progress: 10100
Progress: 10200
Progress: 10300
Progress: 10400
Progress: 10500
Progress: 10600
Progress: 10700
Progress: 10800
Progress: 10900
Progress: 11000
Progress: 11100
Progress: 11200
Progress: 11300
Progress: 11400
Progress: 11500
Progress: 11600
Progress: 11700
Progress: 11800
Progress: 11900
Progress: 12000
Progress: 12100
Progress: 12200

In [16]:
celebs = pd.json_normalize(celebs_list)
celebs.head()

,id,name,fans,性别,星座,出生日期,出生地,职业,更多外文名,更多中文名,家庭成员,imdb编号,生卒日期,去世日期
0,1000001,朱丽娅·斯蒂尔斯 Julia Stiles,3604,女,白羊座,1981年03月28日,"美国,纽约",演员 / 导演 / 编剧,Julia O'Hara Stiles (本名),none,Preston J. Cook(夫),,NaN,NaN
1,1000014,艾什莉·贾德 Ashley Judd,3779,女,白羊座,1968年04月19日,"美国,加利福尼亚州,格拉纳达希尔斯",演员 / 配音 / 导演,Ashley Tyler Ciminella (本名) / Sweet Pea (昵称) /...,阿什丽·贾德,Naomi Judd(母) / Wynonna Judd(姐),,NaN,NaN
2,1000015,米歇尔·莫纳汉 Michelle Monaghan,8057,女,白羊座,1976年03月23日,"美国,爱荷华,温思罗普",演员 / 配音,Michelle Lynn Monaghan (本名),米歇尔·莫娜汉 / 米雪·慕娜汉(港) / 米歇尔·琳恩·莫娜汉(本名) / 蜜雪儿·摩纳汉(台),彼得·怀特(夫),,NaN,NaN
3,1000018,寇碧·史莫德斯 Cobie Smulders,11731,女,白羊座,1982年04月03日,"加拿大,不列颠哥伦比亚,温哥华",演员 / 配音,Jacoba Fransisca Maria Smulders (本名),罗宾阿姨(昵称),塔兰·基尔拉姆(夫),,NaN,NaN
4,1000029,亨利·伊安·库斯克 Henry Ian Cusick,201,NaN,白羊座,1967年04月17日,"秘鲁,特鲁希略",演员 / 导演,Henry Ian Cuisick,NaN,NaN,,NaN,NaN

In [17]:
celebs.describe()

                fans
count   12281.000000
mean     1138.705399
std      6012.703258
min         0.000000
25%         3.000000
50%        24.000000
75%       221.000000
max    294605.000000

In [19]:
# who has the most fans?
celebs.iloc[celebs.fans.argmax()]

id                1360615
name         肖战 Zhan Xiao
fans               294605
性别                      男
星座                    天秤座
出生日期          1991年10月05日
出生地                 中国,重庆
职业                     演员
更多外文名           Sean Xiao
更多中文名                 NaN
家庭成员      爸爸 / 妈妈 / 坚果（猫）
imdb编号
生卒日期                  NaN
去世日期                  NaN
Name: 8362, dtype: object

In [21]:
# check fans nan or null
pd.isnull(celebs.fans).value_counts()

False    12281
Name: fans, dtype: int64

In [26]:
# there were entries which could not be scraped (HTTP 500). Add them manually:
celebs = celebs.append({"id":1314395, "name": "霍青-Qing Huo", "性别":"男", "fans":297}, ignore_index=True)
celebs = celebs.append({"id":1316349, "name": "张承-Cheng Zhang", "fans":76}, ignore_index=True)
celebs.tail()

C:\Users\czy19\AppData\Local\Temp\ipykernel_2476\624062965.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  celebs = celebs.append({"id":1314395, "name": "霍青-Qing Huo", "性别":"男", "fans":297}, ignore_index=True)
C:\Users\czy19\AppData\Local\Temp\ipykernel_2476\624062965.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  celebs = celebs.append({"id":1316349, "name": "张承-Cheng Zhang", "fans":76}, ignore_index=True)

,id,name,fans,性别,星座,出生日期,出生地,职业,更多外文名,更多中文名,家庭成员,imdb编号,生卒日期,去世日期
12278,1472496,崔靖涵 JINGHAN CUI,0,女,NaN,NaN,NaN,演员,NaN,NaN,NaN,NaN,NaN,NaN
12279,1472572,孙璐,1,女,NaN,NaN,NaN,演员,NaN,NaN,NaN,NaN,NaN,NaN
12280,1473222,张恩瀚 Enhan Zhang,2,男,NaN,NaN,NaN,演员,NaN,NaN,NaN,NaN,NaN,NaN
12281,1314395,霍青-Qing Huo,297,男,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12282,1316349,张承-Cheng Zhang,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
len(celebs)

12283

In [28]:
celebs.to_csv("./data/celebs_df.csv")